html {
	max-width: 100%;
    overflow-x: hidden;
}

body {
	font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
	max-width: 100%;
    overflow-x: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

hr {
	border: 0;
	clear: both;
	display:block;
	width:96%;
	background-color: white;
	height: 2px;
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

.skillsSection,
.contactSection {
	background-color: #333844;
	color: #fff;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: white;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}


.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.squareContent h4 {
	font-size: 13px;
	font-weight: 400;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.contactButton {
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #fff;
}

.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #e74c3c;;
	border-color: #e74c3c;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #e74c3c;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

#navigation {
	background-color: #CC866C;
    padding: 8px 8px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loading3.gif) center center no-repeat;
}

/*Timeline left*/
.timelineleft {
	list-style-type: none;
	position: relative;

}

.timelineleft:before{
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timelineleft li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.timelineleft li h4{
	background-color: white;
	padding: 5px 0 5px 20px;
	column-rule-color: #fff;
	font-size: 21px;
	color: black
}

.timelineleft li .titulo{
	padding: 5px 0 5px 20px;
	font-size: 21px;
	color: black
}

.testeprofessional{
	background-color: white;
	column-rule-color: #fff;
	font-size: 21px;
	color: black;
	margin-left: 1px;
}

.myalignright{
	text-align: right;
	font-style: italic;
}

.myalignright div{
	font-size:12px;
	padding-top: 5px;
}

.timelineleft li h4 span{
	font-weight: bold;
}

.timelineleft li:before{
	content: '';
	background: #CC866C;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #fff;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}



/*Timeline right*/
.timelineright {
	list-style-type: none;
	position: relative;
	padding-left: 1px;
	padding-right: 20px;
	

}

.timelineright:before{
	content: '';
	background: #CC866C;
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timelineright li.timel{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.timelineright li h4{
	background-color: #CC866C;
	padding: 5px 0 5px 20px;
	column-rule-color: #CC866C;
	font-size: 21px;
	color: black;
	margin-right: 20px;
}

/*
.timelineright li h4 span{
	font-weight: bold;
}*/

.timelineright li.timel:before{
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #CC866C;
	right: 1px;
	width: 20px;
	height: 20px;
	z-index: 1;
	margin-top: 5px;
}

.timelineright a{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.timelineright a.projeto{
	color: #B85A22;
	background-color: transparent;
	text-decoration: none;
}


.timelineright li.projetos{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.timelineright li .titulo{
	padding: 5px 0 5px 20px;
	font-size: 21px;
	color: white
}

.testeeducation{
	background-color: #333844;
	column-rule-color: #333844;
	font-size: 21px;
	color: black;
	margin-left: 1px;
	margin-right: 20px;
}





/*Bulletponts Projects*/
.bulletponintsprojects {
	list-style-type: none;
	position: relative;

}

.bulletponintsprojects:before{
	content: '';
	background: #333844;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.bulletponintsprojects li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.bulletponintsprojects li h4{
	background-color: white;
	padding: 5px 0 5px 20px;
	column-rule-color: #fff;
	font-size: 21px;
	color: black
}

.bulletponintsprojects li .titulo{
	padding: 5px 0 5px 20px;
	font-size: 19px;
	color: black
}


.bulletponintsprojects li h4 span{
	font-weight: bold;
}

.bulletponintsprojects li:before{
	content: '';
	background: #CC866C;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #fff;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}

.bulletstoolsused li:before{
	left: 20px;
	width: 20px;
	height: 20px;
	content: normal;
}


.lang-menu{
	padding-top: 20px;
    font-weight: bold;
	padding-right: 8%;
}

.selected-lang{
	cursor: pointer;
	display: flex;
	text-align: right;
	float: right;
	justify-content: space-between;
	line-height: 2;
	width: 120px;
}

.selected-lang:before{
	content: '';
	display: block;
	width: 32px;
	height: 32px;
}


.lang-menu ul{
	margin:0;
	padding: 0;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: none;
	position: absolute;
}

.lang-menu ul li{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.lang-menu ul li a{
	width: 140px;
	display: block;
	padding:5px 10px;
}

.lang-menu ul li a:before{
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	vertical-align: middle;
}

.lang-menu ul li a:hover{
	background-color: #f2f2f2;
}

.pt:before{
	background-image: url(https://www.countryflags.io/pt/flat/32.png);
}

.en:before{
	background-image: url(https://www.countryflags.io/gb/flat/32.png);
}

.es:before{
	background-image: url(https://www.countryflags.io/es/flat/32.png);
}



.lang-menu:hover ul{
	display: block;
}


.buttontoexpand {
	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #CC866C;
	background-color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin-right: 35px;
  }

  .buttontoexpand:hover {background-color: #f8f8f8}

  .buttontoexpand:active {
	background-color: #f8f8f8;
	transform: translateY(4px);}

.buttontoexpandcurriculum {
	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #333844;
	border: none;
	border-radius: 15px;
	box-shadow: 0 -9px #999;
	margin-right: 15px;
	}

	.buttontoexpandcurriculum:hover {background-color: #333844}

	.buttontoexpandcurriculum:active {
	background-color: #f8f8f8;
	transform: translateY(4px);}



/*Timeline right*/
.bulletponintsothers {
	list-style-type: none;
	position: relative;
	padding-left: 1px;
	padding-right: 20px;
	

}



.bulletponintsothers li.timel{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.bulletponintsothers li h4{
	background-color: #CC866C;
	padding: 5px 0 5px 20px;
	column-rule-color: #CC866C;
	font-size: 21px;
	color: black;
	margin-right: 20px;
}


.bulletponintsothers li.timel:before{
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #CC866C;
	right: 1px;
	width: 20px;
	height: 20px;
	z-index: 1;
	margin-top: 5px;
}

.bulletponintsothers a{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

.bulletponintsothers a.projeto{
	color: #B85A22;
	background-color: transparent;
	text-decoration: none;
}


.bulletponintsothers li.projetos{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.bulletponintsothers li .titulo{
	padding: 5px 0 5px 20px;
	font-size: 21px;
	color: white
}


.buttontoexpandothers {
	display: inline-block;
	padding: 5px 15px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #CC866C;
	background-color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin-left: 20px;
  }

  .buttontoexpandothers:hover {background-color: #f8f8f8}

  .buttontoexpandothers:active {
	background-color: #f8f8f8;
	transform: translateY(4px);}



.listacertificados {
	list-style-type: none
	}
	
.listacertificados li.certificadoitem {
display: grid;
grid-template-columns: 20px auto;
justify-content: start;
align-items: center;
}


.botaoacederpastas {
	display: inline-block;
	border-radius: 4px;
	background-color: #D49882;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 280px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .botaoacederpastas span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .botaoacederpastas span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .botaoacederpastas:hover span {
	padding-right: 25px;
  }
  
  .botaoacederpastas:hover span:after {
	opacity: 1;
	right: 0;
  }





